@model SOP_IAA_DAL.tipoProyecto

@{
    ViewBag.Title = "Eliminar Proyecto";
}

<h2>Delete</h2>

<h3>¿Está seguro de eliminar este proyecto?</h3>
<div>
    <h4>tipoProyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Proyecto" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>
